*{
    margin: 0;
    padding: 0;
    font-family: inter, Arial;
}
body{
    /* background: linear-gradient(45deg, #d2001a,#7462ff, #f48e21, #23d5ab);
    background-size: 300% 300%;
    animation: color 10s ease-in-out  infinite; */
    background-image: url(forest.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* @keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%; 
    }
} */
.container{
    background: transparent;
    backdrop-filter: blur(2px);
    border: 1px solid rgb(201, 201, 201);
    border-radius: 25px;
    box-shadow: 1px 1px 5px rgb(94, 93, 93);
    width: 300px;
    height: 380px;
}
.cont-display{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    height: 45px;
    width: 250px;
    margin-top: 10px;
}
.display-input{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    background-color: #024ded;
    color: white;
    margin-left: 10px;
    padding: 0px 15px 0px 15px;

    &:hover{
        background-color: #0051ff;
    }
}
.keys{
    height: 80%;
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    margin: 12px 0px 0px 35px;
}
.btn{
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: rgb(56, 56, 56);
    font-size: 1.3rem;
    font-weight: 700;
    background-color: #bcbcbc;
    box-shadow: 1.5px 1.5px 2px rgb(94, 93, 93);
    cursor: pointer;
    &:hover{
        background-color: #d3d3d3;
    }
}
/* white button */
.btn-perc{
    background-color: rgb(240, 240, 240);
    &:hover{
        background-color: #e4e4e4;
    }
}
.btn-s{
    background-color: rgb(240, 240, 240);
    &:hover{
        background-color: #e4e4e4;
    }
}
.btn-ce{
    background-color: rgb(240, 240, 240);
    &:hover{
        background-color: #e4e4e4;
    }
}
.btn-equ{
    background-color: rgb(240, 240, 240);
    &:hover{
        background-color: #e4e4e4;
    }
}
/* color button */
.btn-c{
    color: white;
    background: #02030d;
    box-shadow: 1.5px 1.5px 2px black;

    &:hover{
        background-color: rgb(24, 24, 24);
    }
}
.btn-min{
    color: white;
    background: #ff0324;
    box-shadow: 1.5px 1.5px 2px red;

    &:hover{
        background-color: rgb(243, 0, 0);
    }
}
.btn-div{
    color: white;
    background: #024ded;
    box-shadow: 1.5px 1.5px 2px blue;

    &:hover{
        background-color: rgb(0, 0, 236);
    }
}
.btn-mul{
    color: white;
    background: #ede102;
    box-shadow: 1.5px 1.5px 2px yellow;

    &:hover{
        background-color: rgb(241, 241, 0);
    }
}
.btn-plu{
    color: white;
    background: #02ed39;
    box-shadow: 1.5px 1.5px 2px green;

    &:hover{
        background-color: rgb(0, 221, 0);
    }
}


